<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>emailTick</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1>emailTick.</h1>

    <div>json file used: <%- json %></div>
    <br>
    <div>cc template: <%- cc %></div>
    <div>bcc template: <%- bcc %></div>
    <div>subject template: <%- subject %></div>
    <div>message template: <%- message %></div>
    <br>
    <div><%- successes%> emails were successfully sent out</div>
    <div><%- failures%> emails were not able to be successfully sent out</div>
  </body>
</html>
