<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>emailTick</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1>emailTick.</h1>

    <div>cc: <%- cc %></div>
    <div>bcc: <%- bcc %></div>
    <div>subject: <%- subject %></div>
    <div>message: <%- message %></div>
    <div>json: <%- json %></div>

  </body>
</html>
